@model List<Empleado>

@{
    List<int> ids =
            Context.Session.GetObject<List<int>>("IDSEMPLEADOS");
}

<h1>Almacenar obj Empleado en session</h1>

<h2>@ViewData["MENSAJE"]</h2>

<a asp-controller="Empleados"
   asp-action="EmpleadosAlmacenadosOk"
   class="btn btn-info">
    Ver almacenados!
</a>

<ul class="list-group">
    @foreach (Empleado emp in Model)
    {
        <li class="list-group-item list-group-item-success">
            @emp.Apellido
            @if (ids == null)
            {
                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosOk"
                   asp-route-idempleado="@emp.IdEmpleado">
                    Almacenar empleado
                </a>
            }
            else
            {
                //PREGUNTAMOS SI EL EMPLEADO QUE ESTAMOS DIBUJANDO
                //ESTA DENTRO DE SESSION
                if (ids.Contains(emp.IdEmpleado))
                {
                    //SI ESTA DENTRO DE SESSION, DIBUJAMOS IMAGEN
                    <img src="~/images/ok.png" style="width: 35px; height: 35px" />
                }
                else
                {
                    <a asp-controller="Empleados"
                       asp-action="SessionEmpleadosOk"
                       asp-route-idempleado="@emp.IdEmpleado">
                        Almacenar empleado
                    </a>
                }
            }
        </li>
    }
</ul>
